<dialog class="lightbox" id="lightbox" aria-label="Photo viewer">
  <button class="lightbox__btn lightbox__btn--close" type="button" data-lb-close aria-label="Close"><i class="fa-solid fa-xmark" aria-hidden="true"></i></button>
  <button class="lightbox__btn lightbox__btn--prev" type="button" data-lb-nav="prev" aria-label="Previous photo"><i class="fa-solid fa-arrow-left" aria-hidden="true"></i></button>
  <button class="lightbox__btn lightbox__btn--next" type="button" data-lb-nav="next" aria-label="Next photo"><i class="fa-solid fa-arrow-right" aria-hidden="true"></i></button>
  <figure><img src="" alt=""><figcaption></figcaption></figure>
</dialog>
